extends templates/main  


block title
    title= movie.title
block content 
    - const id = movie.id
    main.main 
        a(href="/").home-page
            h2 Back to the home page
        h1.movie-title= movie.title 
        img.movie-img(src=movie.image.url, alt="" style="width: 25rem;")
        .movie-desc!= movie.intro
        .book-btns 
            button.change-city Välj stad
            button.view-tickets Visa biljetter
        .accessibility 
            h3.accessibility-ti Tillgänglighet
            p.accessibility-tx. 
                Kino Sandviken är tillgänglig för alla! Våra lokaler har 
                rullstolsanpassade ingångar, ramper och sittplatser i varje salong. 
                För gäster med nedsatt hörsel erbjuder vi hörslingor och 
                textade visningar, och för de med nedsatt syn finns syntolkning 
                tillgänglig vid utvalda filmer. Vår personal finns alltid på 
                plats för att hjälpa till och göra besöket så smidigt som möjligt. 
        form.review-box
            h3(style="margin: 0 0 1em 0; font-size: 1.5em;") Skapa recension
            textarea(type="text", placeholder="Skriv en recension...").review-input
            label(for="rating").rating-label Betyg 
            select.rating-input(name="rating") 
                option(value="0").select-option 0
                option(value="1").select-option 1
                option(value="2").select-option 2
                option(value="3").select-option 3
                option(value="4").select-option 4
                option(value="5").select-option 5
            input(type="text", placeholder="Namn...").name-input
            button(type="submit").review-btn Skicka
        article.review-article Hej!
            script(type="module" src="../static/reviews.js")

    
