@use './lib.scss' as *;

.main {
  max-width: 95%;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 25% 25% 15% 35%;
  grid-template-rows: auto auto auto auto;

  .home-page {
    color: inherit;
  }
  .movie-title {
    grid-row: 2;
    font-size: 2.5em;
  }
  .movie-img {
    grid-row: 3 / 5;
    grid-column: 1;
    border-radius: 25px;
    width: 50%;
  }
  .movie-desc {
    grid-row: 3;
    grid-column: 2;
    font-size: 1.5em;
    margin: 0 0 0 1em;
    width: 70%;
  }
  .book-btns {
    grid-row: 2;
    grid-column: 4;
    margin-left: auto;
    margin-right: auto;
    .change-city {
      background-color: $red-color;
      padding: 1rem 3rem;
      border-radius: 1.8rem;
      color: $text-color-main;
      font-weight: 700;
      font-size: 1.1em;
      border-color: transparent;
    }
    .view-tickets {
      background-color: transparent;
      padding: 1rem 3rem;
      border-radius: 1.8rem;
      color: $red-color;
      font-weight: 700;
      border-color: $red-color;
      font-size: 1.1em;
      margin-left: 1em;
    }
  }
  .accessibility {
    grid-row: 3;
    grid-column: 4;
    padding: 2em;
    background-color: $background-div-color;
    border-radius: 25px;
    margin-bottom: 5rem;
  }
  .review-box {
    grid-row: 4;
    grid-column: 4;
    padding: 2em;
    background-color: $background-div-color;
    border-radius: 25px;
    .review-input {
      background-color: transparent;
      border: 3px solid $red-color;
      padding: 0.4em 0 3em 0.4em;
      font-size: 1.2em;
      margin-bottom: 1em;
      display: block;
      width: 100%;
      border-radius: 15px;
      color: white;
      outline: none;
    }
    .name-input {
      width: 50%;
      margin-bottom: 1em;
      margin-left: 1em;
      border: 3px solid $red-color;
      background-color: transparent;
      font-size: 1.2em;
      padding: 0.2em 0 0.2em 0.4em;
      color: white;
      border-radius: 10px;
      outline: none;
    }
    .rating-label {
      font-size: 1.2em;
      font-weight: 700;
      margin-right: 0.2em;
    }
    .rating-input {
      border: 3px solid $red-color;
      background-color: transparent;
      padding: 0.2em 0em 0.2em 0.4em;
      color: white;
      border-radius: 10px;
      outline: none;
      width: 20%;
      font-size: 1.2em;
      font-weight: 700;
    }
    .select-option {
      background-color: $background-color;
      border-radius: 5px;
      font-weight: 700;
    }
    .review-btn {
      background-color: $red-color;
      border: none;
      border-radius: 30px;
      color: white;
      font-weight: 700;
      padding: 1em;
      padding-left: 3em;
      padding-right: 3em;
    }
    .error-message {
      display: inline; 
      margin-left: 1em; 
      font-size: 1.2em; 
      font-weight: 700; 
      color: #fc263a; 
      font-style: italic;
      display: none;
    }
  }
}
