@use './lib.scss' as *;

.review-article {

  .review-header {
    font-size: 2rem;
    padding-left: 1rem;
  }

  .review-div {
    .review-ul {
      display: flex;
      gap: 2rem;
      list-style-type: none;

      .review-li {
        max-width: 10rem;
        font-size: 1.25rem;
        border-right: solid $text-color-main;
        padding-right: 1rem;
      }
    }

  }

  .review-prev {
    @include redButton;

    &:disabled {
      background-color: $text-color-secondary;
    }
  }

  .review-next {
    @include redButton;

    &:disabled {
      background-color: $text-color-secondary;
    }
  }
}