.main {
  max-width: 95%;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 25% 25% 15% 35%;
  grid-template-rows: auto auto auto auto;
}
.main .home-page {
  color: inherit;
}
.main .title-div .movie-title {
  grid-row: 2;
  margin-bottom: 2em;
  font-size: 2.5em;
}
.main .title-div .movie-title .rating-title {
  font-weight: 700;
  margin: 0;
  font-size: 1.5em;
  display: inline;
}
.main .title-div .movie-title i {
  font-size: 1em;
  margin-left: 0.2em;
}
.main .title-div .movie-title .rating-num {
  display: inline;
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.5em;
}
.main .movie-img {
  grid-row: 3/5;
  grid-column: 1;
  border-radius: 25px;
  width: 50%;
}
.main .movie-desc {
  grid-row: 3;
  grid-column: 2;
  font-size: 1.5em;
  margin: 0 0 0 1em;
  width: 70%;
}
.main .book-btns {
  grid-row: 2;
  grid-column: 4;
  margin-left: auto;
  margin-right: auto;
}
.main .book-btns .change-city {
  background-color: #fc263a;
  padding: 1rem 3rem;
  border-radius: 1.8rem;
  color: #f6f6f6;
  font-weight: 700;
  font-size: 1.1em;
  border-color: transparent;
}
.main .book-btns .view-tickets {
  background-color: transparent;
  padding: 1rem 3rem;
  border-radius: 1.8rem;
  color: #fc263a;
  font-weight: 700;
  border-color: #fc263a;
  font-size: 1.1em;
  margin-left: 1em;
}
.main .review-box {
  grid-row: 3;
  grid-column: 4;
  padding: 2em;
  background-color: #2d2d2d;
  border-radius: 25px;
}
.main .review-box .review-title {
  margin: 0 0 1em 0;
  font-size: 1.5em;
}
.main .review-box .review-input {
  background-color: transparent;
  border: 3px solid #fc263a;
  padding: 0.4em 0 3em 0.4em;
  font-size: 1.2em;
  margin-bottom: 1em;
  display: block;
  width: 100%;
  border-radius: 15px;
  color: white;
  outline: none;
}
.main .review-box .name-input {
  width: 50%;
  margin-bottom: 1em;
  margin-left: 1em;
  border: 3px solid #fc263a;
  background-color: transparent;
  font-size: 1.2em;
  padding: 0.2em 0 0.2em 0.4em;
  color: white;
  border-radius: 10px;
  outline: none;
}
.main .review-box .rating-label {
  font-size: 1.2em;
  font-weight: 700;
  margin-right: 0.2em;
}
.main .review-box .rating-input {
  border: 3px solid #fc263a;
  background-color: transparent;
  padding: 0.2em 0em 0.2em 0.4em;
  color: white;
  border-radius: 10px;
  outline: none;
  width: 20%;
  font-size: 1.2em;
  font-weight: 700;
}
.main .review-box .select-option {
  background-color: #1a1a1a;
  border-radius: 5px;
  font-weight: 700;
}
.main .review-box .review-btn {
  background-color: #fc263a;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
}
.main .review-box .error-message {
  display: inline;
  margin-left: 1em;
  font-size: 1.2em;
  font-weight: 700;
  color: #fc263a;
  font-style: italic;
  display: none;
}
.main .screeningsID-container {
  grid-row: 4;
  grid-column: 2;
  padding-left: 2em;
  border-radius: 25px;
}
.main .screeningsID-container .screeningsID-listitem {
  list-style: none;
  margin-left: -2.5rem;
}

.review-article {
  grid-column: 4;
  grid-row: 4;
}
.review-article .review-header {
  font-size: 2rem;
  padding-left: 1rem;
}
.review-article .review-div {
  height: 280px;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  margin-bottom: 1rem;
  border: solid #f6f6f6;
  border-radius: 1rem;
}
.review-article .review-div .review-ul {
  list-style-type: none;
  padding-left: 0.5rem;
}
.review-article .review-div .review-ul .review-li {
  font-size: 1.25rem;
  border-bottom: solid #f6f6f6;
}
.review-article .review-prev {
  background-color: #fc263a;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  margin-left: 1rem;
}
.review-article .review-prev:disabled {
  background-color: #a8a8a8;
}
.review-article .review-next {
  background-color: #fc263a;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  margin-left: 1rem;
}
.review-article .review-next:disabled {
  background-color: #a8a8a8;
}

/*# sourceMappingURL=movie.css.map */
